# Environments
.env
.env.local
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log

# Databases
*.db
*.sqlite3

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Logs
logs/
*.log
